<form action="create" method="POST">
<label for="nom">Le nom</label>
<input type="text" name="nom" value="{{ membre.NOM }}"><br>
<label for="nom">Le prenom</label>
<input type="text" name="prenom" value="{{ membre.PRENOM }}"><br>
<label for="nom">La date de naissance</label>
<input type="text" name="naissance" value="{{ membre.NAISSANCE }}"><br>
<label for="nom">La ville</label>
<input type="text" name="ville" value="{{ membre.VILLE }}"><br>
<button type="submit">Envoyer</button>
</form>
<br>
<a href="../">Retour</a> à la page d'accueil.