
<div class="col-md-7 col-md-offset-3 form hidden-ct">

	<form action="create" class="form-horizontal" method="POST">


	<div class="form-group">
		<label for="titrefr" class="col-sm-3 control-label">Titre français</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" name="titrefr"><br>
		</div>
	</div>

	<div class="form-group">
		<label for="titrevo" class="col-sm-3 control-label">Titre original</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" name="titrevo"><br>
		</div>
	</div>

	<div class="form-group">
		<label for="nb" class="col-sm-3 control-label">Noir &amp; Blanc / Couleur</label>
		  <label>
		    <input type="radio" name="couleur" id="optionsRadios1" value="couleur   " checked>
		    Couleur
		  </label>
		  <label>
		    <input type="radio" name="couleur" id="optionsRadios2" value="NB        ">
		    N &amp; B
		  </label>
		  <label>
		    <input type="radio" name="couleur" id="optionsRadios3" value="NB/couleur">
		    N &amp; B et couleur
		  </label>
	</div>

	<div class="form-group">
		<label for="pays" class="col-sm-3 control-label">Pays</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" name="pays"><br>
		</div>
	</div>

	<div class="form-group">
		<label for="date" class="col-sm-3 control-label">Date</label>
		<div class="col-sm-4">
			<input type="date" class="form-control" name="date"><br>
		</div>
	</div>

	<div class="form-group">
		<label for="duree" class="col-sm-3 control-label">Durée</label>
		<div class="col-sm-4">
			<input type="number" class="form-control" name="duree"><br>
		</div>
	</div>

	<div class="form-group">
		<label for="real" class="col-sm-3 control-label">Réalisateur</label>
		<div class="col-sm-4">
			<select id="real" name="real" class="form-control">
			{% for real in reals %}
				{% if real.code_indiv != '' %}
			    	<option value="{{ real.code_indiv }}">{{ real.prenom }} {{ real.nom }}</option>
				{% endif %}
			{% endfor %} %}
			</select>
		</div>
	</div>


	<div class="form-group">
		<button type="button" class="createButton btn btn-primary center-block">Envoyer</button>
	</div>
	</form>

	<div hidden class="saved">Le film a bien été enregistré</div>
</div>
