<button type="button" class="createM">Créer un film</button>
<form hidden class='form' action="create" method="POST">
<label for="titrefr">Titre français</label>
<input type="text" name="titrefr"><br>
<label for="titrevo">Titre original</label>
<input type="text" name="titrevo"><br>
<label for="nb">Noir &amp; Blanc / Couleur</label>
<input type="text" name="couleur"><br>
<label for="pays">Pays</label>
<input type="text" name="pays"><br>
<label for="date">Date</label>
<input type="date" name="date"><br>
<label for="duree">Durée</label>
<input type="number" name="duree"><br>
<button type="button" class="createButton">Envoyer</button>
</form>
<div hidden class="saved">Le film a bien été enregistré</div>