tr:nth-child(odd) {
	background-color: #58ACFA;
}
table {
	border: 3px solid;
}
li {
	display: inline-block;
	margin: 0px 5px;
}

#details, #rated, #released, #plot {
	display: none;
}

.hidden-ct {
	visibility: hidden;
}

#poster {
	float: left;
	margin-right: 10px;
}