#tbl .odd {
	background-color: #EEE;
}

#tbl .even {
	background-color: #DDD;
}

table {
	border: 3px solid;
}
li {
	display: inline-block;
	margin: 0px 5px;
}

#newFilm {
	display: none;
}

#poster {
	float: left;
	margin-right: 10px;
}

td.details-control {
    background: url('https://datatables.net/examples/resources/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.details td.details-control {
    background: url('https://datatables.net/examples/resources/details_close.png') no-repeat center center;
}